***DATA PREPROCESSING***

In [7]:
import pandas as pd

***READING THE DATAFILES***

In [8]:
v01_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v01_cnty.csv")
v02_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v02_cnty.csv")
v08_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v08_cnty.csv")
v09_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v09_cnty.csv")
v10_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v10_cnty.csv")
v11_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v11_cnty.csv")
v15_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v15_cnty.csv")
v16_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v16_cnty.csv")
v17_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v17_cnty.csv")
v18_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v18_cnty.csv")
v22_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v22_cnty.csv")
v23_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v23_cnty.csv")
v27_cnty = pd.read_csv(r"C:\Users\vbhav\Downloads\v27_cnty.csv")

***DATA UNDERSTA***

***HEAD OF ALL DATAFRAMES***

In [9]:
dataframes = [v01_cnty, v02_cnty, v08_cnty, v09_cnty, v10_cnty, v11_cnty, v15_cnty, v16_cnty, v17_cnty, v18_cnty, v22_cnty, v23_cnty, v27_cnty]
def display_heads(dataframes):
    for i, df in enumerate(dataframes, start=1):
        print(f"DataFrame {i} Head:")
        print(df.head())
        print("\n") 
display_heads(dataframes)

DataFrame 1 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v01_type  \
0        SAARC  AFG  0.5       0      0    1  1990       1         1
1        SAARC  AFG  0.5       0      0    2  1990       1         1
2        SAARC  AFG  0.5       0      0    3  1990       1         1
3        SAARC  AFG  0.5       0      0  999  1990       1         1
4        SAARC  AFG  0.5       0      1    1  1990       1         1

          v01_type_desc     median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  10.198521   21.203149    4.847648  0.208133
1  1: Foods & Beverages  14.882476   31.914361    7.066668  0.303724
2  1: Foods & Beverages  19.841635   41.671546    9.462270  0.404931
3  1: Foods & Beverages  11.303815   21.286601    6.259829  0.230690
4  1: Foods & Beverages  14.171020   29.690704    6.785812  0.289204

   s_lowerci_95  s_upperci_95
0      0.098932      0.432717
1      0.144218      0.651313
2      0.193108      0.850440
3      0.127752      0.434420
4      0.138486      0.605933


DataFrame 2 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v02_type  \
0        SAARC  AFG  0.5       0      0    1  1990       2         1
1        SAARC  AFG  0.5       0      0    2  1990       2         1
2        SAARC  AFG  0.5       0      0    3  1990       2         1
3        SAARC  AFG  0.5       0      0  999  1990       2         1
4        SAARC  AFG  0.5       0      1    1  1990       2         1

          v02_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  5.693182   13.021504    2.474188  0.129391
1  1: Foods & Beverages  5.902957   13.271185    2.642529  0.134158
2  1: Foods & Beverages  6.807248   15.787812    2.887907  0.154710
3  1: Foods & Beverages  5.879880   12.447382    2.848419  0.133634
4  1: Foods & Beverages  5.765048   13.737933    2.490801  0.131024

   s_lowerci_95  s_upperci_95
0      0.056232      0.295943
1      0.060057      0.301618
2      0.065634      0.358814
3      0.064737      0.282895
4      0.056609      0.312226


DataFrame 3 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v08_type  \
0        SAARC  AFG  0.5       0      0    1  1990       8         1
1        SAARC  AFG  0.5       0      0    2  1990       8         1
2        SAARC  AFG  0.5       0      0    3  1990       8         1
3        SAARC  AFG  0.5       0      0  999  1990       8         1
4        SAARC  AFG  0.5       0      1    1  1990       8         1

          v08_type_desc      median  upperci_95  lowerci_95    serving  \
0  1: Foods & Beverages  102.679080       195.0   10.565837   8.556590
1  1: Foods & Beverages  115.320688       195.0   11.111591   9.610058
2  1: Foods & Beverages  136.756817       195.0   14.797743  11.396401
3  1: Foods & Beverages  106.341941       195.0   19.044594   8.861829
4  1: Foods & Beverages  195.000000       195.0   20.356481  16.250000

   s_lowerci_95  s_upperci_95
0      0.880486         16.25
1      0.925966         16.25
2      1.233145         16.25
3      1.587050         16.25
4      1.696373         16.25


DataFrame 4 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v09_type  \
0        SAARC  AFG  0.5       0      0    1  1990       9         1
1        SAARC  AFG  0.5       0      0    2  1990       9         1
2        SAARC  AFG  0.5       0      0    3  1990       9         1
3        SAARC  AFG  0.5       0      0  999  1990       9         1
4        SAARC  AFG  0.5       0      1    1  1990       9         1

          v09_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  0.620224    8.194886    0.053144  0.020007
1  1: Foods & Beverages  0.703978    8.984549    0.063569  0.022709
2  1: Foods & Beverages  0.716188   10.959917    0.061707  0.023103
3  1: Foods & Beverages  0.711049    8.128386    0.086917  0.022937
4  1: Foods & Beverages  0.138005    2.340909    0.010677  0.004452

   s_lowerci_95  s_upperci_95
0      0.001714      0.264351
1      0.002051      0.289824
2      0.001991      0.353546
3      0.002804      0.262206
4      0.000344      0.075513


DataFrame 5 Head:
  superregion2 iso3    age  female  urban  edu  year  v10_type  \
0        SAARC  AFG  999.0       0    999  999  1990         1
1        SAARC  AFG  999.0       0    999  999  1995         1
2        SAARC  AFG  999.0       0    999  999  2000         1
3        SAARC  AFG  999.0       0    999  999  2005         1
4        SAARC  AFG  999.0       0    999  999  2010         1

          v10_type_desc     median  lowerci_95  upperci_95   serving  \
0  1: Foods & Beverages  36.557002   22.451895   59.583888  0.371024
1  1: Foods & Beverages  23.304068   14.867158   37.641872  0.236517
2  1: Foods & Beverages  22.672356   14.400640   36.556745  0.230106
3  1: Foods & Beverages  16.120860   10.369850   25.910420  0.163614
4  1: Foods & Beverages  14.504421    9.213583   23.264216  0.147208

   s_lowerci_95  s_upperci_95
0      0.227869      0.604728
1      0.150890      0.382035
2      0.146155      0.371021
3      0.105246      0.262970
4      0.093510      0.236113


DataFrame 6 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v11_type  \
0        SAARC  AFG  0.5       0      0    1  1990      11         1
1        SAARC  AFG  0.5       0      0    2  1990      11         1
2        SAARC  AFG  0.5       0      0    3  1990      11         1
3        SAARC  AFG  0.5       0      0  999  1990      11         1
4        SAARC  AFG  0.5       0      1    1  1990      11         1

          v11_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  0.131861    0.422861    0.042488  0.005733
1  1: Foods & Beverages  0.150714    0.474939    0.046641  0.006553
2  1: Foods & Beverages  0.185220    0.565990    0.055303  0.008053
3  1: Foods & Beverages  0.141300    0.400700    0.053618  0.006143
4  1: Foods & Beverages  0.158350    0.486329    0.051565  0.006885

   s_lowerci_95  s_upperci_95
0      0.001847      0.018385
1      0.002028      0.020650
2      0.002404      0.024608
3      0.002331      0.017422
4      0.002242      0.021145


DataFrame 7 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v15_type  \
0        SAARC  AFG  0.5       0      0    1  1990      15         1
1        SAARC  AFG  0.5       0      0    2  1990      15         1
2        SAARC  AFG  0.5       0      0    3  1990      15         1
3        SAARC  AFG  0.5       0      0  999  1990      15         1
4        SAARC  AFG  0.5       0      1    1  1990      15         1

          v15_type_desc     median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages   4.724291   19.563974    1.168470  0.056242
1  1: Foods & Beverages   8.378243   36.063769    2.149404  0.099741
2  1: Foods & Beverages  11.534382   52.457865    2.790671  0.137314
3  1: Foods & Beverages   5.819306   20.277243    1.840608  0.069277
4  1: Foods & Beverages  21.611481   92.580595    5.211685  0.257280

   s_lowerci_95  s_upperci_95
0      0.013910      0.232904
1      0.025588      0.429331
2      0.033222      0.624498
3      0.021912      0.241396
4      0.062044      1.102150


DataFrame 8 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v16_type  \
0        SAARC  AFG  0.5       0      0    1  1990      16         1
1        SAARC  AFG  0.5       0      0    2  1990      16         1
2        SAARC  AFG  0.5       0      0    3  1990      16         1
3        SAARC  AFG  0.5       0      0  999  1990      16         1
4        SAARC  AFG  0.5       0      1    1  1990      16         1

          v16_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  0.364710    2.196988    0.062748  0.004342
1  1: Foods & Beverages  0.912346    5.080717    0.152076  0.010861
2  1: Foods & Beverages  1.669869    8.916621    0.278757  0.019879
3  1: Foods & Beverages  0.560312    2.310224    0.150057  0.006670
4  1: Foods & Beverages  0.626191    3.419703    0.108361  0.007455

   s_lowerci_95  s_upperci_95
0      0.000747      0.026155
1      0.001810      0.060485
2      0.003319      0.106150
3      0.001786      0.027503
4      0.001290      0.040711


DataFrame 9 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v17_type  \
0        SAARC  AFG  0.5       0      0    1  1990      17         1
1        SAARC  AFG  0.5       0      0    2  1990      17         1
2        SAARC  AFG  0.5       0      0    3  1990      17         1
3        SAARC  AFG  0.5       0      0  999  1990      17         1
4        SAARC  AFG  0.5       0      1    1  1990      17         1

          v17_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  0.074122    1.888448    0.003098  0.224612
1  1: Foods & Beverages  0.073287    2.123856    0.002650  0.222082
2  1: Foods & Beverages  0.073174    2.357111    0.002563  0.221739
3  1: Foods & Beverages  0.097519    1.702960    0.009661  0.295511
4  1: Foods & Beverages  0.072881    2.129554    0.002622  0.220851

   s_lowerci_95  s_upperci_95
0      0.009388      5.722570
1      0.008031      6.435926
2      0.007768      7.142759
3      0.029277      5.160483
4      0.007945      6.453193


DataFrame 10 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v18_type  \
0        SAARC  AFG  0.5       0      0    1  1990      18         1
1        SAARC  AFG  0.5       0      0    2  1990      18         1
2        SAARC  AFG  0.5       0      0    3  1990      18         1
3        SAARC  AFG  0.5       0      0  999  1990      18         1
4        SAARC  AFG  0.5       0      1    1  1990      18         1

          v18_type_desc    median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  0.796603    1.545760    0.416775  2.413949
1  1: Foods & Beverages  0.839668    1.615482    0.445594  2.544449
2  1: Foods & Beverages  0.844251    1.632786    0.447899  2.558338
3  1: Foods & Beverages  0.808635    1.459508    0.469329  2.450409
4  1: Foods & Beverages  0.803555    1.552508    0.423123  2.435015

   s_lowerci_95  s_upperci_95
0      1.262953      4.684121
1      1.350283      4.895400
2      1.357268      4.947837
3      1.422209      4.422751
4      1.282192      4.704569


DataFrame 11 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v22_type  \
0        SAARC  AFG  0.5       0      0    1  1990      22         2
1        SAARC  AFG  0.5       0      0    2  1990      22         2
2        SAARC  AFG  0.5       0      0    3  1990      22         2
3        SAARC  AFG  0.5       0      0  999  1990      22         2
4        SAARC  AFG  0.5       0      1    1  1990      22         2

       v22_type_desc     median  upperci_95  lowerci_95
0  2: Macronutrients  60.688627   72.234930   45.150309
1  2: Macronutrients  59.085886   71.339018   44.113154
2  2: Macronutrients  57.969359   70.468107   42.759094
3  2: Macronutrients  60.345976   70.817115   46.211019
4  2: Macronutrients  52.291940   65.783935   36.104206


DataFrame 12 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v23_type  \
0        SAARC  AFG  0.5       0      0    1  1990      23         2
1        SAARC  AFG  0.5       0      0    2  1990      23         2
2        SAARC  AFG  0.5       0      0    3  1990      23         2
3        SAARC  AFG  0.5       0      0  999  1990      23         2
4        SAARC  AFG  0.5       0      1    1  1990      23         2

       v23_type_desc     median  upperci_95  lowerci_95
0  2: Macronutrients  19.282026   31.574932   11.838943
1  2: Macronutrients  19.582713   31.369764   11.780870
2  2: Macronutrients  19.602879   32.169275   11.964155
3  2: Macronutrients  19.353408   30.492555   12.532011
4  2: Macronutrients  19.453067   31.754358   12.031156


DataFrame 13 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v27_type  \
0        SAARC  AFG  0.5       0      0    1  1990      27         2
1        SAARC  AFG  0.5       0      0    2  1990      27         2
2        SAARC  AFG  0.5       0      0    3  1990      27         2
3        SAARC  AFG  0.5       0      0  999  1990      27         2
4        SAARC  AFG  0.5       0      1    1  1990      27         2

       v27_type_desc     median  upperci_95  lowerci_95
0  2: Macronutrients  13.032575   23.969014    5.344724
1  2: Macronutrients  13.994703   25.286827    6.281345
2  2: Macronutrients  14.536279   26.430558    6.744379
3  2: Macronutrients  13.307284   23.164342    6.108969
4  2: Macronutrients  16.594774   29.098812    7.197423

***SHAPE OF ALL DATAFRAMES***

In [10]:

print('v01_cnty:', v01_cnty.shape)
print('v02_cnty:', v02_cnty.shape)
print('v08_cnty:', v08_cnty.shape)
print('v09_cnty:', v09_cnty.shape)
print('v10_cnty:', v10_cnty.shape)
print('v11_cnty:', v11_cnty.shape)
print('v15_cnty:', v15_cnty.shape)
print('v16_cnty:', v16_cnty.shape)
print('v17_cnty:', v17_cnty.shape)
print('v18_cnty:', v18_cnty.shape)
print('v22_cnty:', v22_cnty.shape)
print('v23_cnty:', v23_cnty.shape)
print('v27_cnty:', v27_cnty.shape)

v01_cnty: (1072260, 16)
v02_cnty: (1072260, 16)
v08_cnty: (1072260, 16)
v09_cnty: (1072260, 16)
v10_cnty: (834720, 15)
v11_cnty: (1072260, 16)
v15_cnty: (1072260, 16)
v16_cnty: (1072260, 16)
v17_cnty: (1072260, 16)
v18_cnty: (1072260, 16)
v22_cnty: (1072260, 13)
v23_cnty: (1072260, 13)
v27_cnty: (1072260, 13)

***COLUMNS OF ALL DATASETS***

In [11]:
print('v01_cnty columns:', v01_cnty.columns)
print('v02_cnty columns:', v02_cnty.columns)
print('v08_cnty columns:', v08_cnty.columns)
print('v09_cnty columns:', v09_cnty.columns)
print('v10_cnty columns:', v10_cnty.columns)
print('v11_cnty columns:', v11_cnty.columns)
print('v15_cnty columns:', v15_cnty.columns)
print('v16_cnty columns:', v16_cnty.columns)
print('v17_cnty columns:', v17_cnty.columns)
print('v18_cnty columns:', v18_cnty.columns)
print('v22_cnty columns:', v22_cnty.columns)
print('v23_cnty columns:', v23_cnty.columns)
print('v27_cnty columns:', v27_cnty.columns)

v01_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v01_type', 'v01_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v02_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v02_type', 'v02_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v08_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v08_type', 'v08_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v09_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v09_type', 'v09_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v10_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'v10_type', 'v10_type_desc', 'median', 'lowerci_95', 'upperci_95',
       'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v11_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v11_type', 'v11_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v15_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v15_type', 'v15_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v16_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v16_type', 'v16_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v17_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v17_type', 'v17_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v18_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v18_type', 'v18_type_desc', 'median', 'upperci_95',
       'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')
v22_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v22_type', 'v22_type_desc', 'median', 'upperci_95',
       'lowerci_95'],
      dtype='object')
v23_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v23_type', 'v23_type_desc', 'median', 'upperci_95',
       'lowerci_95'],
      dtype='object')
v27_cnty columns: Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum', 'v27_type', 'v27_type_desc', 'median', 'upperci_95',
       'lowerci_95'],
      dtype='object')

***CHECKING FOR MISSING VALUES***

In [12]:
print('Missing values in v01_cnty:', v01_cnty.isna().sum())
print('Missing values in v02_cnty:', v02_cnty.isna().sum())
print('Missing values in v08_cnty:', v08_cnty.isna().sum())
print('Missing values in v09_cnty:', v09_cnty.isna().sum())
print('Missing values in v10_cnty:', v10_cnty.isna().sum())
print('Missing values in v11_cnty:', v11_cnty.isna().sum())
print('Missing values in v15_cnty:', v15_cnty.isna().sum())
print('Missing values in v16_cnty:', v16_cnty.isna().sum())
print('Missing values in v17_cnty:', v17_cnty.isna().sum())
print('Missing values in v18_cnty:', v18_cnty.isna().sum())
print('Missing values in v22_cnty:', v22_cnty.isna().sum())
print('Missing values in v23_cnty:', v23_cnty.isna().sum())
print('Missing values in v27_cnty:', v27_cnty.isna().sum())

Missing values in v01_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v01_type            0
v01_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v02_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v02_type            0
v02_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v08_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v08_type            0
v08_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v09_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v09_type            0
v09_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v10_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
v10_type            0
v10_type_desc       0
median           2448
lowerci_95       2448
upperci_95       2448
serving          2448
s_lowerci_95     2448
s_upperci_95     2448
dtype: int64
Missing values in v11_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v11_type            0
v11_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v15_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v15_type            0
v15_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v16_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v16_type            0
v16_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v17_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v17_type            0
v17_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v18_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v18_type            0
v18_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
serving          3948
s_lowerci_95     3948
s_upperci_95     3948
dtype: int64
Missing values in v22_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v22_type            0
v22_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
dtype: int64
Missing values in v23_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v23_type            0
v23_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
dtype: int64
Missing values in v27_cnty: superregion2        0
iso3                0
age                 0
female              0
urban               0
edu                 0
year                0
varnum              0
v27_type            0
v27_type_desc       0
median           3948
upperci_95       3948
lowerci_95       3948
dtype: int64

***DATA CLEANING /PREPARATION***

**renaming the column for better understanding**

In [13]:
dataframes = [v01_cnty, v02_cnty, v08_cnty, v09_cnty, v10_cnty, v11_cnty,
              v15_cnty, v16_cnty, v17_cnty, v18_cnty, v22_cnty, v23_cnty, v27_cnty]
rename_schema = {
    'superregion2': 'superregion',
    'iso3': 'country',
    'female': 'gender',
    'urban': 'region',
    'edu': 'education'
}
type_renaming = ['v01_type', 'v02_type', 'v08_type', 'v09_type', 'v10_type','v11_type', 'v15_type', 'v16_type', 'v17_type', 'v18_type','v22_type', 'v23_type', 'v27_type']
for i, df in enumerate(dataframes, start=1):
    specific_rename = {type_name: 'type' for type_name in df.columns if 'type' in type_name and not 'desc' in type_name}
    specific_rename.update({type_desc: 'type_desc' for type_desc in df.columns if 'type_desc' in type_desc})
    specific_rename.update(rename_schema)

    df.rename(columns=specific_rename, inplace=True)
for i, df in enumerate(dataframes, start=1):
    print(f'New columns in v{i:02}_cnty:', df.columns.tolist())

New columns in v01_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v02_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v03_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v04_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v05_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v06_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v07_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v08_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v09_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v10_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
New columns in v11_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v12_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v13_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']

**drop the column which are unnecessary**

In [14]:
for df in dataframes:
    if 'varnum' in df.columns:
        df.drop(columns=['varnum'], inplace=True)

for i, df in enumerate(dataframes, start=1):
    print(f'Updated columns in v{i:02}_cnty:', df.columns.tolist())

Updated columns in v01_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v02_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v03_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v04_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v05_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v06_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v07_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v08_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v09_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v10_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
Updated columns in v11_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v12_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v13_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']

In [15]:
v01_cnty.head()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95,serving,s_lowerci_95,s_upperci_95
0,SAARC,AFG,0.5,0,0,1,1990,1,1: Foods & Beverages,10.198521,21.203149,4.847648,0.208133,0.098932,0.432717
1,SAARC,AFG,0.5,0,0,2,1990,1,1: Foods & Beverages,14.882476,31.914361,7.066668,0.303724,0.144218,0.651313
2,SAARC,AFG,0.5,0,0,3,1990,1,1: Foods & Beverages,19.841635,41.671546,9.462270,0.404931,0.193108,0.850440
3,SAARC,AFG,0.5,0,0,999,1990,1,1: Foods & Beverages,11.303815,21.286601,6.259829,0.230690,0.127752,0.434420
4,SAARC,AFG,0.5,0,1,1,1990,1,1: Foods & Beverages,14.171020,29.690704,6.785812,0.289204,0.138486,0.605933

In [16]:
retain_columns = ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']

dataframes = [v01_cnty, v02_cnty, v08_cnty, v09_cnty, v10_cnty, v11_cnty,
              v15_cnty, v16_cnty, v17_cnty, v18_cnty, v22_cnty, v23_cnty, v27_cnty]

for i, df in enumerate(dataframes):
    dataframes[i] = df[retain_columns]

In [17]:

print('v01_cnty:', v01_cnty.shape)
print('v02_cnty:', v02_cnty.shape)
print('v08_cnty:', v08_cnty.shape)
print('v09_cnty:', v09_cnty.shape)
print('v10_cnty:', v10_cnty.shape)
print('v11_cnty:', v11_cnty.shape)
print('v15_cnty:', v15_cnty.shape)
print('v16_cnty:', v16_cnty.shape)
print('v17_cnty:', v17_cnty.shape)
print('v18_cnty:', v18_cnty.shape)
print('v22_cnty:', v22_cnty.shape)
print('v23_cnty:', v23_cnty.shape)
print('v27_cnty:', v27_cnty.shape)

v01_cnty: (1072260, 15)
v02_cnty: (1072260, 15)
v08_cnty: (1072260, 15)
v09_cnty: (1072260, 15)
v10_cnty: (834720, 15)
v11_cnty: (1072260, 15)
v15_cnty: (1072260, 15)
v16_cnty: (1072260, 15)
v17_cnty: (1072260, 15)
v18_cnty: (1072260, 15)
v22_cnty: (1072260, 12)
v23_cnty: (1072260, 12)
v27_cnty: (1072260, 12)

In [18]:
print('v01_cnty:', v01_cnty.columns)

v01_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95',
       'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')

In [19]:
print('v01_cnty:', v27_cnty.columns)

v01_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')

In [20]:
columns_to_remove = ['s_lowerci_95', 's_upperci_95','serving']
v01_cnty = v01_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v02_cnty = v02_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v08_cnty = v08_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v09_cnty = v09_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v10_cnty = v10_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v11_cnty = v11_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v15_cnty = v15_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v16_cnty = v16_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v17_cnty = v17_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v18_cnty = v18_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v22_cnty = v22_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v23_cnty = v23_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v27_cnty = v27_cnty.drop(columns_to_remove, axis=1, errors='ignore')

In [21]:
print('v01_cnty:', v01_cnty.columns)

v01_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')

In [22]:

print('v01_cnty:', v01_cnty.shape)
print('v02_cnty:', v02_cnty.shape)
print('v08_cnty:', v08_cnty.shape)
print('v09_cnty:', v09_cnty.shape)
print('v10_cnty:', v10_cnty.shape)
print('v11_cnty:', v11_cnty.shape)
print('v15_cnty:', v15_cnty.shape)
print('v16_cnty:', v16_cnty.shape)
print('v17_cnty:', v17_cnty.shape)
print('v18_cnty:', v18_cnty.shape)
print('v22_cnty:', v22_cnty.shape)
print('v23_cnty:', v23_cnty.shape)
print('v27_cnty:', v27_cnty.shape)

v01_cnty: (1072260, 12)
v02_cnty: (1072260, 12)
v08_cnty: (1072260, 12)
v09_cnty: (1072260, 12)
v10_cnty: (834720, 12)
v11_cnty: (1072260, 12)
v15_cnty: (1072260, 12)
v16_cnty: (1072260, 12)
v17_cnty: (1072260, 12)
v18_cnty: (1072260, 12)
v22_cnty: (1072260, 12)
v23_cnty: (1072260, 12)
v27_cnty: (1072260, 12)

**considering only necessary data**

In [23]:

datasets = [v01_cnty, v02_cnty, v08_cnty, v09_cnty, v10_cnty, v11_cnty,
            v15_cnty, v16_cnty, v17_cnty, v18_cnty, v22_cnty, v23_cnty, v27_cnty]

filtered_data = []
for df in datasets:
    df = df[df['year'] >= 2010]
    df = df[(df['age'] >= 12.5) & (df['age'] <= 42.5)]
    df = df[(df['gender'] == 0) | (df['gender'] == 1)]
    df = df[(df['region'] == 0) | (df['region'] == 1)]
    filtered_data.append(df)
    print(df.shape)

(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(20720, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)

**DROP ALL NULL VALUES**

In [24]:
cleaned_data = []
for df in filtered_data:
    cleaned_df = df.dropna()
    cleaned_data.append(cleaned_df)
    print(cleaned_df.isnull().sum())

superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
lowerci_95     0
upperci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64

**Check for and remove duplicate values**

In [35]:
for df in cleaned_data:
    initial_shape = df.shape
    df.drop_duplicates(inplace=True)
    final_shape = df.shape
    print(f"Initial shape: {initial_shape}, Final shape after removing duplicates: {final_shape}")

C:\Users\vbhav\AppData\Local\Temp\ipykernel_13984\3338355079.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (20608, 13), Final shape after removing duplicates: (20608, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)
Initial shape: (61824, 13), Final shape after removing duplicates: (61824, 13)

***merging all datasets into one dataset***

In [30]:
import pandas as pd

diet_factors = [
    "Fruits", "Non-starchy vegetables", "Potatoes", "Other starchy vegetables",
    "Beans and legumes", "Nuts and seeds", "Refined grains", "Whole grains",
    "Total processed meats", "Unprocessed red meats", "Total seafoods", "Eggs",
    "Cheese"
]
for df, factor in zip(cleaned_data, diet_factors):
    df.loc[:, 'Dietary Factor'] = factor  

final_merged_data = pd.concat(cleaned_data, ignore_index=True)
print("Final merged data shape:", final_merged_data.shape)

Final merged data shape: (762496, 13)

In [27]:
final_merged_data.head()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95,Dietary Factor
0,SAARC,AFG,12.5,0,0,1,2010,1,1: Foods & Beverages,51.014353,108.602472,24.675886,Fruits
1,SAARC,AFG,12.5,0,0,2,2010,1,1: Foods & Beverages,74.446074,153.614374,35.747700,Fruits
2,SAARC,AFG,12.5,0,0,3,2010,1,1: Foods & Beverages,98.372271,203.371350,49.117662,Fruits
3,SAARC,AFG,12.5,0,0,999,2010,1,1: Foods & Beverages,65.600050,108.890752,40.510834,Fruits
4,SAARC,AFG,12.5,0,1,1,2010,1,1: Foods & Beverages,70.474873,144.297376,33.755312,Fruits

In [28]:
final_merged_data.tail()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95,Dietary Factor
762491,SSA,ZWE,42.5,1,0,999,2018,2,2: Macronutrients,8.505085,13.584499,4.806287,Cheese
762492,SSA,ZWE,42.5,1,1,1,2018,2,2: Macronutrients,8.925886,17.524143,3.492850,Cheese
762493,SSA,ZWE,42.5,1,1,2,2018,2,2: Macronutrients,8.972450,17.671436,3.712181,Cheese
762494,SSA,ZWE,42.5,1,1,3,2018,2,2: Macronutrients,8.964510,17.874975,3.634587,Cheese
762495,SSA,ZWE,42.5,1,1,999,2018,2,2: Macronutrients,9.238881,14.870313,5.264934,Cheese

In [29]:
final_merged_data.to_csv('final_merged_data.csv', index=False)