***DATA PREPROCESSING***

In [3]:
import pandas as pd

***READING THE DATAFILES***

In [9]:
v30_cnty = pd.read_csv("v30_cnty.csv")
v31_cnty = pd.read_csv("v31_cnty.csv")
v33_cnty = pd.read_csv("v33_cnty.csv")
v34_cnty = pd.read_csv("v34_cnty.csv")
v35_cnty = pd.read_csv("v35_cnty.csv")
v36_cnty = pd.read_csv("v36_cnty.csv")
v37_cnty = pd.read_csv("v37_cnty.csv")
v39_cnty = pd.read_csv("v39_cnty.csv")
v40_cnty = pd.read_csv("v40_cnty.csv")
v50_cnty = pd.read_csv("v50_cnty.csv")
v51_cnty = pd.read_csv("v51_cnty.csv")
v52_cnty = pd.read_csv("v52_cnty.csv")
v57_cnty = pd.read_csv("v57_cnty.csv")

***DATA UNDERSTANDING***

***HEAD OF ALL DATAFRAMES***

In [12]:
dataframes = [v30_cnty, v31_cnty, v33_cnty, v34_cnty, v35_cnty, v36_cnty, v37_cnty, v39_cnty, v40_cnty, v50_cnty, v51_cnty, v52_cnty, v57_cnty]
def display_heads(dataframes):
    for i, df in enumerate(dataframes, start=1):
        print(f"DataFrame {i} Head:")
        print(df.head())
        print("\n") 
display_heads(dataframes)

DataFrame 1 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v30_type  \
0        SAARC  AFG  0.5       0      0    1  1990      30         2
1        SAARC  AFG  0.5       0      0    2  1990      30         2
2        SAARC  AFG  0.5       0      0    3  1990      30         2
3        SAARC  AFG  0.5       0      0  999  1990      30         2
4        SAARC  AFG  0.5       0      1    1  1990      30         2

       v30_type_desc    median  upperci_95  lowerci_95
0  2: Macronutrients  0.286168    7.438326    0.010387
1  2: Macronutrients  0.311377    8.211395    0.013128
2  2: Macronutrients  0.265112    8.566430    0.009838
3  2: Macronutrients  0.356767    7.376328    0.021648
4  2: Macronutrients  0.351866   11.043053    0.010232


DataFrame 2 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v31_type  \
0        SAARC  AFG  0.5       0      0    1  1990      31         2
1        SAARC  AFG  0.5       0      0    2  1990      31         2
2        SAARC  AFG  0.5       0      0    3  1990      31         2
3        SAARC  AFG  0.5       0      0  999  1990      31         2
4        SAARC  AFG  0.5       0      1    1  1990      31         2

       v31_type_desc      median   upperci_95  lowerci_95
0  2: Macronutrients  304.129371  2152.506490   49.487160
1  2: Macronutrients  330.169157  2327.147870   54.833650
2  2: Macronutrients  323.412245  2324.059875   50.446327
3  2: Macronutrients  323.172704  2045.355526   61.151183
4  2: Macronutrients  309.766538  2256.030430   47.473742


DataFrame 3 Head:
  superregion2 iso3    age  female  urban  edu  year  v33_type  \
0        SAARC  AFG  999.0       0    999  999  1990         2
1        SAARC  AFG  999.0       0    999  999  1995         2
2        SAARC  AFG  999.0       0    999  999  2000         2
3        SAARC  AFG  999.0       0    999  999  2005         2
4        SAARC  AFG  999.0       0    999  999  2010         2

       v33_type_desc      median  lowerci_95  upperci_95
0  2: Macronutrients  133.810455   97.568063  185.481073
1  2: Macronutrients  110.748363   80.930659  153.227542
2  2: Macronutrients  110.151833   80.021892  152.738129
3  2: Macronutrients   98.261237   72.466426  133.748996
4  2: Macronutrients   96.512971   70.769669  130.806390


DataFrame 4 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v34_type  \
0        SAARC  AFG  0.5       0      0    1  1990      34         2
1        SAARC  AFG  0.5       0      0    2  1990      34         2
2        SAARC  AFG  0.5       0      0    3  1990      34         2
3        SAARC  AFG  0.5       0      0  999  1990      34         2
4        SAARC  AFG  0.5       0      1    1  1990      34         2

       v34_type_desc     median  upperci_95  lowerci_95
0  2: Macronutrients  22.160618   52.000000    7.413904
1  2: Macronutrients  21.776366   52.000000    7.400439
2  2: Macronutrients  23.947840   52.000000    7.861088
3  2: Macronutrients  22.660366   50.348341    8.560421
4  2: Macronutrients  24.875750   52.000000    8.140379


DataFrame 5 Head:
  superregion2 iso3    age  female  urban  edu  year  v35_type  \
0        SAARC  AFG  999.0       0    999  999  1990         2
1        SAARC  AFG  999.0       0    999  999  1995         2
2        SAARC  AFG  999.0       0    999  999  2000         2
3        SAARC  AFG  999.0       0    999  999  2005         2
4        SAARC  AFG  999.0       0    999  999  2010         2

       v35_type_desc    median    lowerci_95  upperci_95
0  2: Macronutrients  0.001089  2.834272e-05    0.016893
1  2: Macronutrients  0.000051  8.239967e-07    0.001005
2  2: Macronutrients  0.000123  2.548568e-06    0.002230
3  2: Macronutrients  1.053210  1.038611e-01    7.539140
4  2: Macronutrients  8.486262  1.549944e+00   27.820353


DataFrame 6 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v36_type  \
0        SAARC  AFG  0.5       0      0    1  1990      36         3
1        SAARC  AFG  0.5       0      0    2  1990      36         3
2        SAARC  AFG  0.5       0      0    3  1990      36         3
3        SAARC  AFG  0.5       0      0  999  1990      36         3
4        SAARC  AFG  0.5       0      1    1  1990      36         3

       v36_type_desc      median  upperci_95  lowerci_95
0  3: Micronutrients  247.746286  450.532974  136.658490
1  3: Micronutrients  263.368204  474.085977  146.335042
2  3: Micronutrients  273.084101  498.654228  147.653868
3  3: Micronutrients  251.729666  436.849040  148.337451
4  3: Micronutrients  331.971841  622.580006  180.622649


DataFrame 7 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v37_type  \
0        SAARC  AFG  0.5       0      0    1  1990      37         3
1        SAARC  AFG  0.5       0      0    2  1990      37         3
2        SAARC  AFG  0.5       0      0    3  1990      37         3
3        SAARC  AFG  0.5       0      0  999  1990      37         3
4        SAARC  AFG  0.5       0      1    1  1990      37         3

       v37_type_desc       median   upperci_95  lowerci_95
0  3: Micronutrients  1176.778185  2539.433977  529.795420
1  3: Micronutrients  1135.610091  2433.702513  490.793057
2  3: Micronutrients   979.562959  2161.543241  455.530116
3  3: Micronutrients  1171.719752  2408.514299  578.229688
4  3: Micronutrients  1236.216548  2696.857489  552.498586


DataFrame 8 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v39_type  \
0        SAARC  AFG  0.5       0      0    1  1990      39         3
1        SAARC  AFG  0.5       0      0    2  1990      39         3
2        SAARC  AFG  0.5       0      0    3  1990      39         3
3        SAARC  AFG  0.5       0      0  999  1990      39         3
4        SAARC  AFG  0.5       0      1    1  1990      39         3

       v39_type_desc    median  upperci_95  lowerci_95
0  3: Micronutrients  7.597289   19.373323    3.076819
1  3: Micronutrients  7.828164   19.620869    3.171219
2  3: Micronutrients  7.720687   19.696916    3.233860
3  3: Micronutrients  7.716779   18.412969    3.501745
4  3: Micronutrients  6.691095   16.521694    2.692938


DataFrame 9 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v40_type  \
0        SAARC  AFG  0.5       0      0    1  1990      40         3
1        SAARC  AFG  0.5       0      0    2  1990      40         3
2        SAARC  AFG  0.5       0      0    3  1990      40         3
3        SAARC  AFG  0.5       0      0  999  1990      40         3
4        SAARC  AFG  0.5       0      1    1  1990      40         3

       v40_type_desc     median  upperci_95  lowerci_95
0  3: Micronutrients  53.138637  102.874328   27.990684
1  3: Micronutrients  53.669092  103.960004   27.888678
2  3: Micronutrients  52.326024  100.754511   26.739764
3  3: Micronutrients  53.552191   97.690913   30.315522
4  3: Micronutrients  52.946764   99.771954   26.888779


DataFrame 10 Head:
  superregion2 iso3    age  female  urban  edu  year  v50_type  \
0        SAARC  AFG  999.0       0    999  999  1990         3
1        SAARC  AFG  999.0       0    999  999  1995         3
2        SAARC  AFG  999.0       0    999  999  2000         3
3        SAARC  AFG  999.0       0    999  999  2005         3
4        SAARC  AFG  999.0       0    999  999  2010         3

       v50_type_desc    median  lowerci_95  upperci_95
0  3: Micronutrients  2.113687    1.131250    3.826145
1  3: Micronutrients  2.094503    1.145809    3.715580
2  3: Micronutrients  2.099985    1.161399    3.751326
3  3: Micronutrients  2.114869    1.181991    3.715946
4  3: Micronutrients  2.145522    1.193333    3.780288


DataFrame 11 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v51_type  \
0        SAARC  AFG  0.5       0      0    1  1990      51         3
1        SAARC  AFG  0.5       0      0    2  1990      51         3
2        SAARC  AFG  0.5       0      0    3  1990      51         3
3        SAARC  AFG  0.5       0      0  999  1990      51         3
4        SAARC  AFG  0.5       0      1    1  1990      51         3

       v51_type_desc     median  upperci_95  lowerci_95
0  3: Micronutrients  10.452691   24.308078    4.777050
1  3: Micronutrients  11.284180   26.497446    4.892636
2  3: Micronutrients  11.948875   27.994282    5.130975
3  3: Micronutrients  10.683345   23.433591    5.327455
4  3: Micronutrients  10.303497   25.297731    4.556231


DataFrame 12 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v52_type  \
0        SAARC  AFG  0.5       0      0    1  1990      52         3
1        SAARC  AFG  0.5       0      0    2  1990      52         3
2        SAARC  AFG  0.5       0      0    3  1990      52         3
3        SAARC  AFG  0.5       0      0  999  1990      52         3
4        SAARC  AFG  0.5       0      1    1  1990      52         3

       v52_type_desc    median  upperci_95  lowerci_95
0  3: Micronutrients  0.419979    1.656394    0.107515
1  3: Micronutrients  0.456069    1.791599    0.116237
2  3: Micronutrients  0.456425    1.762785    0.110714
3  3: Micronutrients  0.437670    1.546173    0.138756
4  3: Micronutrients  0.488448    1.943613    0.121880


DataFrame 13 Head:
  superregion2 iso3  age  female  urban  edu  year  varnum  v57_type  \
0        SAARC  AFG  0.5       0      0    1  1990      57         1
1        SAARC  AFG  0.5       0      0    2  1990      57         1
2        SAARC  AFG  0.5       0      0    3  1990      57         1
3        SAARC  AFG  0.5       0      0  999  1990      57         1
4        SAARC  AFG  0.5       0      1    1  1990      57         1

          v57_type_desc     median  upperci_95  lowerci_95   serving  \
0  1: Foods & Beverages  30.896916   79.479771   12.433123  0.199335
1  1: Foods & Beverages  46.578249  112.866915   18.486898  0.300505
2  1: Foods & Beverages  60.153257  148.373678   24.495003  0.388086
3  1: Foods & Beverages  34.942918   78.337075   17.035400  0.225438
4  1: Foods & Beverages  38.415211   94.233206   15.704420  0.247840

   s_lowerci_95  s_upperci_95
0      0.080214      0.512773
1      0.119270      0.728174
2      0.158032      0.957250
3      0.109906      0.505400
4      0.101319      0.607956

***SHAPE OF ALL DATAFRAMES***

In [50]:
print('v30_cnty:', v30_cnty.shape)
print('v31_cnty:', v31_cnty.shape)
print('v33_cnty:', v33_cnty.shape)
print('v34_cnty:', v34_cnty.shape)
print('v35_cnty:', v35_cnty.shape)
print('v36_cnty:', v36_cnty.shape)
print('v37_cnty:', v37_cnty.shape)
print('v39_cnty:', v39_cnty.shape)
print('v40_cnty:', v40_cnty.shape)
print('v50_cnty:', v50_cnty.shape)
print('v51_cnty:', v51_cnty.shape)
print('v52_cnty:', v52_cnty.shape)
print('v57_cnty:', v57_cnty.shape)

v30_cnty: (1072260, 12)
v31_cnty: (1072260, 12)
v33_cnty: (834720, 12)
v34_cnty: (1072260, 12)
v35_cnty: (834720, 12)
v36_cnty: (1072260, 12)
v37_cnty: (1072260, 12)
v39_cnty: (1072260, 12)
v40_cnty: (1072260, 12)
v50_cnty: (834720, 12)
v51_cnty: (1072260, 12)
v52_cnty: (1072260, 12)
v57_cnty: (1072260, 15)

***COLUMNS OF ALL DATASETS***

In [40]:
print('v30_cnty columns:', v30_cnty.columns)
print('v31_cnty columns:', v31_cnty.columns)
print('v33_cnty columns:', v33_cnty.columns)
print('v34_cnty columns:', v34_cnty.columns)
print('v35_cnty columns:', v35_cnty.columns)
print('v36_cnty columns:', v36_cnty.columns)
print('v37_cnty columns:', v37_cnty.columns)
print('v39_cnty columns:', v39_cnty.columns)
print('v40_cnty columns:', v40_cnty.columns)
print('v50_cnty columns:', v50_cnty.columns)
print('v51_cnty columns:', v51_cnty.columns)
print('v52_cnty columns:', v52_cnty.columns)
print('v57_cnty columns:', v57_cnty.columns)

v30_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v31_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v33_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95'],
      dtype='object')
v34_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v35_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95'],
      dtype='object')
v36_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v37_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v39_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v40_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v50_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95'],
      dtype='object')
v51_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v52_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')
v57_cnty columns: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95',
       'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')

***CHECKING FOR MISSING VALUES***

In [33]:
print('Missing values in v31_cnty:', v31_cnty.isna().sum())
print('Missing values in v33_cnty:', v33_cnty.isna().sum())
print('Missing values in v34_cnty:', v34_cnty.isna().sum())
print('Missing values in v35_cnty:', v35_cnty.isna().sum())
print('Missing values in v36_cnty:', v36_cnty.isna().sum())
print('Missing values in v37_cnty:', v37_cnty.isna().sum())
print('Missing values in v39_cnty:', v39_cnty.isna().sum())
print('Missing values in v40_cnty:', v40_cnty.isna().sum())
print('Missing values in v50_cnty:', v50_cnty.isna().sum())
print('Missing values in v51_cnty:', v51_cnty.isna().sum())
print('Missing values in v52_cnty:', v52_cnty.isna().sum())
print('Missing values in v57_cnty:', v57_cnty.isna().sum())

Missing values in v31_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v33_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
type              0
type_desc         0
median         2448
lowerci_95     2448
upperci_95     2448
dtype: int64
Missing values in v34_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v35_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
type              0
type_desc         0
median         2448
lowerci_95     2448
upperci_95     2448
dtype: int64
Missing values in v36_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v37_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v39_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v40_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v50_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
type              0
type_desc         0
median         2448
lowerci_95     2448
upperci_95     2448
dtype: int64
Missing values in v51_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v52_cnty: superregion       0
country           0
age               0
gender            0
region            0
education         0
year              0
varnum            0
type              0
type_desc         0
median         3948
upperci_95     3948
lowerci_95     3948
dtype: int64
Missing values in v57_cnty: superregion        0
country            0
age                0
gender             0
region             0
education          0
year               0
varnum             0
type               0
type_desc          0
median          3948
upperci_95      3948
lowerci_95      3948
serving         3948
s_lowerci_95    3948
s_upperci_95    3948
dtype: int64

***DATA CLEANING /PREPARATION***

**renaming the column for better understanding**

In [21]:
dataframes = [v30_cnty, v31_cnty, v33_cnty, v34_cnty, v35_cnty, v36_cnty,
              v37_cnty, v39_cnty, v40_cnty, v50_cnty, v51_cnty, v52_cnty, v57_cnty]
rename_schema = {
    'superregion2': 'superregion',
    'iso3': 'country',
    'female': 'gender',
    'urban': 'region',
    'edu': 'education'
}
type_renaming = ['v30_type', 'v31_type', 'v33_type', 'v34_type', 'v35_type','v36_type', 'v37_type', 'v39_type', 'v40_type', 'v50_type','v51_type', 'v52_type', 'v57_type']
for i, df in enumerate(dataframes, start=1):
    specific_rename = {type_name: 'type' for type_name in df.columns if 'type' in type_name and not 'desc' in type_name}
    specific_rename.update({type_desc: 'type_desc' for type_desc in df.columns if 'type_desc' in type_desc})
    specific_rename.update(rename_schema)

    df.rename(columns=specific_rename, inplace=True)
for i, df in enumerate(dataframes, start=1):
    print(f'New columns in v{i:02}_cnty:', df.columns.tolist())

New columns in v01_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v02_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v03_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
New columns in v04_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v05_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
New columns in v06_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v07_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v08_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v09_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v10_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
New columns in v11_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v12_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
New columns in v13_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'varnum', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']

**drop the column which are unnecessary**

In [42]:
for df in dataframes:
   
    if 'varnum' in df.columns:
        df.drop(columns=['varnum'], inplace=True)


for i, df in enumerate(dataframes, start=1):
    print(f'Updated columns in v{i:02}_cnty:', df.columns.tolist())

Updated columns in v01_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v02_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v03_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
Updated columns in v04_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v05_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
Updated columns in v06_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v07_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v08_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v09_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v10_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'lowerci_95', 'upperci_95']
Updated columns in v11_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v12_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']
Updated columns in v13_cnty: ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']

In [44]:
v31_cnty.head()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95
0,SAARC,AFG,0.5,0,0,1,1990,2,2: Macronutrients,304.129371,2152.506490,49.487160
1,SAARC,AFG,0.5,0,0,2,1990,2,2: Macronutrients,330.169157,2327.147870,54.833650
2,SAARC,AFG,0.5,0,0,3,1990,2,2: Macronutrients,323.412245,2324.059875,50.446327
3,SAARC,AFG,0.5,0,0,999,1990,2,2: Macronutrients,323.172704,2045.355526,61.151183
4,SAARC,AFG,0.5,0,1,1,1990,2,2: Macronutrients,309.766538,2256.030430,47.473742

In [47]:
retain_columns = ['superregion', 'country', 'age', 'gender', 'region', 'education', 'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95']

dataframes = [v30_cnty, v31_cnty, v33_cnty, v34_cnty, v35_cnty, v36_cnty,
              v37_cnty, v39_cnty, v40_cnty, v50_cnty, v51_cnty, v52_cnty, v57_cnty]

for i, df in enumerate(dataframes):
    dataframes[i] = df[retain_columns]

In [52]:
print('v30_cnty:', v30_cnty.shape)
print('v31_cnty:', v31_cnty.shape)
print('v33_cnty:', v33_cnty.shape)
print('v34_cnty:', v34_cnty.shape)
print('v35_cnty:', v35_cnty.shape)
print('v36_cnty:', v36_cnty.shape)
print('v37_cnty:', v37_cnty.shape)
print('v39_cnty:', v39_cnty.shape)
print('v40_cnty:', v40_cnty.shape)
print('v50_cnty:', v50_cnty.shape)
print('v51_cnty:', v51_cnty.shape)
print('v52_cnty:', v52_cnty.shape)
print('v57_cnty:', v57_cnty.shape)

v30_cnty: (1072260, 12)
v31_cnty: (1072260, 12)
v33_cnty: (834720, 12)
v34_cnty: (1072260, 12)
v35_cnty: (834720, 12)
v36_cnty: (1072260, 12)
v37_cnty: (1072260, 12)
v39_cnty: (1072260, 12)
v40_cnty: (1072260, 12)
v50_cnty: (834720, 12)
v51_cnty: (1072260, 12)
v52_cnty: (1072260, 12)
v57_cnty: (1072260, 15)

In [66]:
print('v30_cnty:', v30_cnty.columns)

v30_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')

In [68]:
print('v57_cnty:', v57_cnty.columns)

v57_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95',
       'serving', 's_lowerci_95', 's_upperci_95'],
      dtype='object')

In [70]:
columns_to_remove = ['s_lowerci_95', 's_upperci_95','serving']
v30_cnty = v30_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v31_cnty = v31_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v33_cnty = v33_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v34_cnty = v34_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v35_cnty = v35_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v36_cnty = v36_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v37_cnty = v37_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v39_cnty = v39_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v40_cnty = v40_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v50_cnty = v50_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v51_cnty = v51_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v52_cnty = v52_cnty.drop(columns_to_remove, axis=1, errors='ignore')
v57_cnty = v57_cnty.drop(columns_to_remove, axis=1, errors='ignore')

In [73]:
print('v30_cnty:', v30_cnty.columns)

v30_cnty: Index(['superregion', 'country', 'age', 'gender', 'region', 'education',
       'year', 'type', 'type_desc', 'median', 'upperci_95', 'lowerci_95'],
      dtype='object')

In [75]:
print('v30_cnty:', v30_cnty.shape)
print('v31_cnty:', v31_cnty.shape)
print('v33_cnty:', v33_cnty.shape)
print('v34_cnty:', v34_cnty.shape)
print('v35_cnty:', v35_cnty.shape)
print('v36_cnty:', v36_cnty.shape)
print('v37_cnty:', v37_cnty.shape)
print('v39_cnty:', v39_cnty.shape)
print('v40_cnty:', v40_cnty.shape)
print('v50_cnty:', v50_cnty.shape)
print('v51_cnty:', v51_cnty.shape)
print('v52_cnty:', v52_cnty.shape)
print('v57_cnty:', v57_cnty.shape)

v30_cnty: (1072260, 12)
v31_cnty: (1072260, 12)
v33_cnty: (834720, 12)
v34_cnty: (1072260, 12)
v35_cnty: (834720, 12)
v36_cnty: (1072260, 12)
v37_cnty: (1072260, 12)
v39_cnty: (1072260, 12)
v40_cnty: (1072260, 12)
v50_cnty: (834720, 12)
v51_cnty: (1072260, 12)
v52_cnty: (1072260, 12)
v57_cnty: (1072260, 12)

**considering only necessary data**

In [80]:
datasets = [v30_cnty, v31_cnty, v33_cnty, v34_cnty, v35_cnty, v36_cnty,
              v37_cnty, v39_cnty, v40_cnty, v50_cnty, v51_cnty, v52_cnty, v57_cnty]
filtered_data = []
for df in datasets:
    df = df[df['year'] >= 2010]
    df = df[(df['age'] >= 12.5) & (df['age'] <= 42.5)]
    df = df[(df['gender'] == 0) | (df['gender'] == 1)]
    df = df[(df['region'] == 0) | (df['region'] == 1)]
    filtered_data.append(df)
    print(df.shape)

(62160, 12)
(62160, 12)
(20720, 12)
(62160, 12)
(20720, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(62160, 12)
(20720, 12)
(62160, 12)
(62160, 12)
(62160, 12)

**DROP ALL NULL VALUES**

In [82]:
cleaned_data = []
for df in filtered_data:
    cleaned_df = df.dropna()
    cleaned_data.append(cleaned_df)
    print(cleaned_df.isnull().sum())

superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
lowerci_95     0
upperci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
lowerci_95     0
upperci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
lowerci_95     0
upperci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64
superregion    0
country        0
age            0
gender         0
region         0
education      0
year           0
type           0
type_desc      0
median         0
upperci_95     0
lowerci_95     0
dtype: int64

**Check for and remove duplicate values**

In [84]:
for df in cleaned_data:
    initial_shape = df.shape
    df.drop_duplicates(inplace=True)
    final_shape = df.shape
    print(f"Initial shape: {initial_shape}, Final shape after removing duplicates: {final_shape}")

Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (20608, 12), Final shape after removing duplicates: (20608, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (20608, 12), Final shape after removing duplicates: (20608, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (20608, 12), Final shape after removing duplicates: (20608, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)
Initial shape: (61824, 12), Final shape after removing duplicates: (61824, 12)

/var/folders/_z/h67thp7x5xb1hb1cj47l66tr0000gn/T/ipykernel_8379/494133305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

***merging all datasets into one dataset***

In [88]:
import pandas as pd

diet_factors = [
    "Seafood omega-3 fat", "Plant omega-3 fat", "Dietary cholesterol", "Dietary fiber",
    "Added sugars", "Calcium", "Dietary sodium", "Iron",
    "Magnesium", "Vitamin B12", "Vitamin C", "Vitamin D",
    "Total Milk"
]

for df, factor in zip(cleaned_data, diet_factors):
    df.loc[:, 'Dietary Factor'] = factor  


final_merged_data_1 = pd.concat(cleaned_data, ignore_index=True)
print("Final merged data shape:", final_merged_data_1.shape)

Final merged data shape: (680064, 13)

In [92]:
final_merged_data_1.head()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95,Dietary Factor
0,SAARC,AFG,12.5,0,0,1,2010,2,2: Macronutrients,0.487849,10.118638,0.025147,Seafood omega-3 fat
1,SAARC,AFG,12.5,0,0,2,2010,2,2: Macronutrients,0.611616,10.646985,0.035039,Seafood omega-3 fat
2,SAARC,AFG,12.5,0,0,3,2010,2,2: Macronutrients,0.480648,10.108363,0.023316,Seafood omega-3 fat
3,SAARC,AFG,12.5,0,0,999,2010,2,2: Macronutrients,0.760590,8.571369,0.091453,Seafood omega-3 fat
4,SAARC,AFG,12.5,0,1,1,2010,2,2: Macronutrients,0.639542,14.317225,0.023550,Seafood omega-3 fat

In [90]:
final_merged_data_1.tail()

,superregion,country,age,gender,region,education,year,type,type_desc,median,upperci_95,lowerci_95,Dietary Factor
680059,SSA,ZWE,42.5,1,0,999,2018,1,1: Foods & Beverages,43.639788,50.604317,37.464904,Total Milk
680060,SSA,ZWE,42.5,1,1,1,2018,1,1: Foods & Beverages,43.553307,50.627141,37.359522,Total Milk
680061,SSA,ZWE,42.5,1,1,2,2018,1,1: Foods & Beverages,67.644589,78.568869,58.364464,Total Milk
680062,SSA,ZWE,42.5,1,1,3,2018,1,1: Foods & Beverages,111.776830,129.675729,95.783783,Total Milk
680063,SSA,ZWE,42.5,1,1,999,2018,1,1: Foods & Beverages,68.176114,78.996556,58.654235,Total Milk

In [94]:
final_merged_data_1.to_csv('final_merged_data_1.csv', index=False)